.drag-over {
  border: 2px dashed var(--interactive-accent);
}

.download-job .setting-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 1em;
}

.download-job-details {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.download-job-details .setting-item-description {
  flex-grow: 1;
}

.download-job-details progress {
  width: 150px;
  margin-left: 10px;
}

.download-job-details button {
  margin-left: 10px;
}

.download-job-action {
  min-width: 90px;
  display: flex;
  justify-content: flex-end;
}

/* Custom styles for wider modals */
.mini-manager-modal {
    max-width: 1000px;
    width: 90%;
}
